/* app css stylesheet */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.img-responsive{
  width: 100%;
}
li{
  /*margin-bottom: 10px;*/
}
/*.leftScroll{
  max-height: 400px;
  overflow: auto;
}*/
.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height: 125px;
    width:80%;
    padding: 0 15px;
    margin-top: 15px;
}

.DocumentList li
{
    /*border:1px solid black;*/
    padding:0;
    /*height:150px;*/
}

.list-inline {
  white-space:nowrap;
}

li[toggle] {
  border: 2px outset white;

}

li[toggle].selected {
  border: 2px outset blue;
}

.nav li[toggle].selected {
  border: 2px outset blue;
}

.mar_b15{
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .DocumentList {
    width: 100% !important;
  }
  .leftScroll{
    max-height: 450px;
    overflow: auto;
  }

}
@media (min-width: 768px) {
  .leftScroll {
    max-height: 400px;
    overflow: auto;
  }
}

.btn-plain
{
  border-radius: 2px !important;
  background-color: #fff;
}
.showNext
{
  border-left: 1px solid rgb(213, 213, 213);
}
.btn-plain:active, .btn-plain:focus{
  outline: none !important;
  box-shadow: none;
  background-color: rgb(213, 213, 213);
}
.btn-scroll{
  color: #989898;
  background-color: #fff;
  font-size: 2.5em;
}
.btn-scroll:hover{
  color: #BBBBBB;
}
.btn-scroll:active, .btn-scroll:focus{
  outline: none !important;
  box-shadow: none;
  background-color: #fff;
}
.float-btn-top{
  position: absolute;
  left: 25%;
  float: left;
  font-size: 38px;
  background-color: rgba(3, 3, 3, 0.42);
  height: 40px;
}

.float-btn-bottom{
  position: absolute;
  left: 25%;
  float: left;
  font-size: 38px;
  background-color: rgba(3, 3, 3, 0.42);
  height: 40px;
}
.scroll_cover{
  overflow: hidden;
  max-height: 400px;
}
#scroll_list{
  position: inherit;
  top: 0px;
  transition: 600ms ease-out all;
}

